*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
    font-size: 18px;
    font-family: cursive;
}

.middle{
    margin: auto;
    width:80%;
}
.textMiddle{
    text-align: center;
    font-size: 14px;
    color: rgb(78, 6, 6);

}
header{
    background-color: white;
    text-align: center;
    padding: 3px;
    width: 95%;
    margin: auto;
}
article{
    background-color: white;
    padding: 20px;
    margin: 20px 0;
}
article p{
    margin: 0 0 1em;
}
section.postHead small{
    display: block;
    padding: 0 0 10px;
    margin: 0 0 10px;
    border-bottom: 1px solid #eee;
    color: #00c6a0;
}
section.postFoot{
    font-size: 14px;
    border-top: 1px solid #eee;
    margin: 10px 0 0;
    padding: 10px 0 0;
}